<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    Great Job!
    <form action="/add_tweet" method="POST">
    <div>
    <label>title</label>
        <input type="text" name="title" placeholder="title">
    </div>
    <label>text</label>
        <input type="text" name="text" placeholder="text" maxlength="280">
    </div>
    <br>
    <button type="submit" >submit</button>

</form>

    <a href="{{url_for('signout')}}"><button type="button">Signout!</button></a>

</body>
</html>